%clean-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%rotate {
  animation-name: rotate;
  animation-duration: .3s;
  transform-origin: 50% 50%;
}

@mixin bp($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin circle($color, $width: 12px, $height: $width) {
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: $color;
}

@mixin triangle($size, $color, $direction) {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size;

  @if $direction == up {
    border-bottom-color: $color;
  }
  @else if $direction == right {
    border-left-color: $color;
  }
  @else if $direction == down {
    border-top-color: $color;
  }
  @else if $direction == left {
    border-right-color: $color;
  }
}

@mixin border-bottom($width, $height, $depth, $color, $left:50%) {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: $width;
    height: $height;
    border-bottom: $depth solid $color;
    position: absolute;
    top: 100%;
    left: $left;
  }
}

@mixin action-round($color-bg, $width: 80px, $height: $width, $right: 20px, $top: 20px) {
  position: relative;

  .c-sale {
    position: absolute;
    right: 20px;
    top: 20px;
    width: $width;
    height: $height;
    border-radius: 50%;
    color: $white;
    background-color: $color-bg;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin action-favorite($depth: 40px) {
  position: relative;

  .c-favorites {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: $depth solid transparent;
    border-right: $depth solid transparent;
    border-top: $depth solid $action;
    border-left: $depth solid $action;

    &__icon {
      position: absolute;
      top: -25px;
      left: -25px;
    }
  }
}

@mixin tooltip($width: 100px) {
  &:hover:after {
    content: attr(data-title);
    position: absolute;
    background: $black;
    color: $white;
    width: $width;
    padding: 5px 10px;
    left: 50%;
    margin-left: -60px;
    top: -34px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px $white;
  }

  &:hover:before {
   @include triangle($eight-px, $black, down);
    top: -$eight-px;
    left: 50%;
    margin-left: -$eight-px/2;
  }
}
