%clean-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin bp($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin circle($color, $width: 12px, $height: $width) {
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: $color;
}

@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size;

  @if $direction == up {
    border-bottom-color: $color;
  }
  @else if $direction == right {
    border-left-color: $color;
  }
  @else if $direction == down {
    border-top-color: $color;
  }
  @else if $direction == left {
    border-right-color: $color;
  }
}

@mixin border-bottom($width, $height, $depth, $color, $left:50%) {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: $width;
    height: $height;
    border-bottom: $depth solid $color;
    position: absolute;
    top: 100%;
    left: $left;
  }
}

@mixin tooltip($right, $left: auto) {
  &:hover:after {
    content: attr(data-title);
    position: absolute;
    right: $right;
    left: $left;
    top: -50px;
    width: auto;
    background: #000;
    color: #fff;
    opacity: .5;
    padding: 5px 10px;
  }
}
