$color-title: #33363b;

$light-gray: #dde1e7;
$dark-gray: #99a3b4;

$color-text: #868d9b; //dark
$color-number: #edeff2; //light

//color: #dde1e7;
//color: #edeff2;
//color: #99a3b4;
//color: #868d9b;

$white: #ffffff;

$danger: #f15454;
$default: #5bc1f5;
$info: #8c91ff;
$success: #48b96d;
$success-btn: #24c5a1;
$help: #fcba87;
$carefully: #ffd75d;
$action: #ff638f;


$pad-sm: 50px;
$pad-md: 100px;

//size for media-queries
$xs: (min: '480px');
$sm: (min: '768px');
$md: (min: '950px');
$lg: (min: '1200px');
//End size for media-queries