body {
  background: #e1e7ed;
  color: $color-title;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

input {
  padding: 10px 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

p {
  color: $color-text;
  text-align: justify;
  line-height: 23px;
  letter-spacing: 0.8px;
}

h4 {
  font-size: 20px;
  margin: 0;
}