input, button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}

body {
  background: #e1e7ed;
  color: #33363b;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

p {
  color: $color-text;
  text-align: justify;
  line-height: 20px;
}
