.l-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 22px 22px;
  flex-direction: row;
  @include bp($sm) {
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "search search search search search search"
      "one-comment one-comment one-comment one-comment all-comment all-comment";
  }

  &__item {
    box-shadow: 0px 0px 4px #d6dbe1;

    &--col-6 {
      grid-area: search;
      grid-column: 1/7;
      grid-row: 1/2;
    }

    &--col-2 {
      grid-area: all-comment;
      &-5-7 {
        grid-column: 1/7;
        grid-row: 3/4;
        @include bp($sm) {
          grid-column: 5/7;
          grid-row: 2/3;
        }
      }
    }

    &--col-4 {
      grid-area: one-comment;

      &-1-5 {
        grid-column: 1/7;
        grid-row: 2/3;
        @include bp($sm) {
          grid-column: 1/5;
          grid-row: 2/3;
        }
      }
    }
  }
}



