$areas: welcome comment activations profile video book article chart
mail coverSummer coverJacket page catalog checkout;
.l-grid {
  display: grid;
  grid-gap: 22px 22px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "welcome welcome welcome welcome welcome welcome"
  "activations activations activations activations activations activations"
  "comment comment comment comment comment comment"
  "profile profile profile profile profile profile"
  "video video video video video video"
  "book book book book book book"
  "article article article article article article"
  "chart chart chart chart chart chart"
  "mail mail mail mail mail mail"
  "coverSummer coverSummer coverSummer coverSummer coverSummer coverSummer"
  "coverJacket coverJacket coverJacket coverJacket coverJacket coverJacket"
  "page page page page page page"
  "catalog catalog catalog catalog catalog catalog"
  "checkout checkout checkout checkout checkout checkout";

  @include bp($xs) {
    padding: 30px;
  }

  @include bp($md) {
    grid-template-areas:
      "welcome welcome welcome welcome welcome welcome"
      "comment comment comment comment activations activations"
      "profile profile video video video video"
      "book book book book book book"
      "article article article article article article"
      "chart chart chart chart mail mail"
      "coverSummer coverSummer coverSummer coverJacket coverJacket coverJacket"
      "page page catalog catalog catalog catalog"
      "checkout checkout checkout checkout checkout checkout";
  }

  &__item {
    box-shadow: 0px 0px 4px #d6dbe1;
    background-color: $white;
  }
}

@each $area in $areas  {
 div[class*='--area-#{$area}'] {
   grid-area: $area;
 }
}