.l-register {
  @extend %clean-list;
  display: flex;
  flex-direction: column;

  @include bp($xs) {
    flex-direction: row;
  }

  &__item {
    padding: 5px;
    flex-grow: 1;
    align-self: center;
  }
}