.l-subgrid {
  @extend %clean-list;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &__item {
    grid-column: 1/7;

    &:first-child {
      border-bottom: 1px solid $border-color;
    }

    &:last-child {
      padding: 0 40px 40px;
    }

    &--product {
      border-bottom: 1px dotted $border-color;
    }

    @include bp($sm) {

      &--product {
        border-bottom: none;
      }

      &:last-child {
        border-top: 1px solid $border-color;
      }
    }
  }
}