.c-article {
  display: flex;
  flex-direction: column;
  @include bp($sm) {
    flex-direction: row;
  }

  &__picture {
    background: url("../images/article.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 300px;

    @include bp($xs) {
      min-height: 400px;
    }

    @include bp($sm) {
      min-width: 50%;
    }

    @include bp($md) {
      min-height: 600px;
    }
  }

  &__body {
    background: $white;
    padding: 30px;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    @include border-bottom(60px, 26px, 3px, $color-title, $left: 40%);
  }

  &__text {
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    padding-top: 10px;
    max-height: 360px;
    overflow: hidden;
  }

  .c-button {
    text-transform: uppercase;
  }
}