.c-avatar {
  padding: 5px;

  &__foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $white;
  }

  &--large {

    img {
      width: 120px;
      height: 120px;
    }
  }
}