.c-button {
  padding: 15px;
  color: $white;
  text-transform: uppercase;

  &--default {
    background-color: $default;
  }
  &--info {
    background-color: $info;
  }

  &--success {
    background-color: $success-btn;
  }

  &--outline {
    border: 1px solid $border-color;
    color: $color-title;
    padding: 15px 35px;
  }

  &--action {
    background-color: $action;
    padding: 15px 35px;
  }
}
