.c-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__picture {
    background: url("../images/catalog.png") no-repeat center center;
    background-size: cover;
    min-height: 250px;
  }

  &__body {
    padding: 30px;
  }

  &__text {
    margin-bottom: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: $success;
    font-size: 20px;
    margin: 0;
  }

  .c-customers {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;

    @include bp($md) {
      padding-bottom: 0px;
    }

    &__catalog {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding-left: 15px;

      @include bp($xs) {
        flex-direction: row;
        padding-left: 0;
      }
    }

    &__all {
      border: 1px solid $border-color;
      border-radius: 20px;
      padding: 5px 12px;
      margin: 5px;
    }

    &__buy {
      padding: 0;
      margin: 0;

      @include bp($xs) {
        margin-left: 10px;
      }
    }
  }

  .c-button {
    width: 100%;
    width: -moz-available;

    @include bp($sm) {
      width: auto;
      //width: -moz-max-content;
    }
  }
}