.c-chart {

  &__picture {
    background: $info url("../assets/images/chart.png") no-repeat center center;
    background-size: contain;
    min-height: 420px;
  }

  &__body {
    background: $white;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    h5 {
      letter-spacing: 0.8px;
    }

    p {
      margin-bottom: 0;
    }
  }
}