.c-comment {
  display: flex;
  flex-direction: column;
  @include bp($md) {
    flex-direction: row-reverse;
  }

  &__picture {
    min-height: 264px;
    width: 100%;
    background: url("../assets/images/yellow-bg.png") no-repeat center right;
    background-size: cover;
    position: relative;
    @include bp($md) {
      min-width: 360px;
    }

    &:before {
      @include triangle(10px, white, down);

      @include bp($md) {
        right: 0;
        top: 50%;
        border-right-color: white;
        border-top-color: transparent;
      }
    }
  }

  &__body {
    background: $white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include border-bottom(40px, 16px, 2px, $danger, $left: 0);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;

    h6 {
      padding-left: 5px;
    }
  }
}

