.c-favorites {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid $action;
  border-left: 40px solid $action;

  .c-icon {
    position: absolute;
    top: -25px;
    left: -25px;

    svg {
      path {
        fill: $white;
      }
    }
  }
}