.c-group-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .c-post-office {
    display: flex;
    padding: 5px;

    .c-mail-title {
      color: $color-text;
    }

    .c-icon {
      padding-right: 20px;
      line-height: 20px;
    }
  }

  .c-block-bg {
    padding: 5px;
    border-radius: 5px;

    &--active {
      background: $default;
      color: $white;
    }
  }

  &:hover {
    cursor: pointer;

    .c-mail-title {
      color: $color-title;
    }

    .c-block-bg {
      background: $default;
      color: $white;
    }
  }
}