.c-icon {
  text-align: center;

  svg {
    width: 20px;
    height: 16px;
  }

  &--small {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &--rotate {
    &:hover {
      cursor: pointer;

      polygon {
        fill: $danger;
        stroke: $danger;
        stroke-width: 80px;
        @extend %rotate;
      }

      path{
        @extend %rotate;
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(90deg);
      }
    }
  }
}
