.c-icon {
  text-align: center;

  svg {
    width: 20px;
    height: 16px;
  }

  &--small {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &--rotate {
    &:hover {

      polygon {
        fill: $danger;
        stroke: $danger;
        stroke-width: 80px;
        animation-name: rotateClose;
        animation-duration: .3s;
        transform-origin: 50% 50%;
      }
    }

    @keyframes rotateClose {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(90deg);
      }
    }
  }
}
