.c-jacket {
  display: flex;
  flex-direction: row-reverse;
  font-family: sans-serif;
  height: 360px;

  &__picture {
    flex-grow: 1;
    background: $white url("../assets/images/jacket.png") no-repeat center bottom;
    background-size: contain;
    width: 100%;

    @include bp($md) {
      background-size: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background: $white;
    padding: 30px;

    @include bp($md) {
      padding: 50px;
    }
  }

  &__name {
    padding-bottom: 10px;
  }

  &__title {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    margin: 0 auto;
    text-transform: capitalize;
  }
}
