.c-mail {
  text-align: center;
  margin-bottom: 15px;

  &__login-settings {
    background-color: $default;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    a {
      color: $white;
      padding-right: 5px;
    }
  }

  &__user {
    display: flex;
  }

  &__tags {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .c-button {
    width: 90%;
  }
}