.c-media {
  height: 100%;

  &__player {
    //background: url("../images/video.png") no-repeat center center;
    //background-size: cover;
    //height: 85%;
  }
  ::-webkit-media-controls {
    //display:none !important;
  }
  &__controls {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    //justify-content: space-around;

    button, input, div {
      margin: 0 10px;
    }

    div {
      color: $color-text;
    }

    #playpause {
      background: url("../images/video-play.svg") no-repeat center center;
      min-width: 40px;
      min-height: 40px;

      &.play {
        background: url("../images/video-pause.svg") no-repeat center center;
      }
    }

    #fullScreen {
      background: url("../images/video-fullScreen.svg") no-repeat center center;
      width: 16px;
      height: 16px;
      background-size: contain;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }

    input[type=range] {
      -webkit-appearance: none;
      width: 100%;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      background: #ff71a9;
      border-radius: 1.2px;
      border: 0.2px solid #010101;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #ff0000;
      height: 10px;
      width: 15px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3.7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #ff8bb8;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      background: #ff71a9;
      border-radius: 1.2px;
      border: 0.2px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #ff0000;
      height: 10px;
      width: 15px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #ff589a;
      border: 0.2px solid #010101;
      border-radius: 2.4px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-fill-upper {
      background: #ff71a9;
      border: 0.2px solid #010101;
      border-radius: 2.4px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #ff0000;
      height: 10px;
      width: 15px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      height: 3px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #ff71a9;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #ff8bb8;
    }

  }
}


.timer {
  line-height: 3px;
  font-size: 10px;
  font-family: monospace;
  text-shadow: 1px 1px 0px black;
  color: white;
  background-color: #dde1e7;
  width: 100%;
  min-width: 100%;
  height: 38px;
  position: relative;

  &__bar {
    position: absolute;
    background-color: red;
    left: 0;
    top: 0;
    width: 0;
    height: 38px;
    z-index: 2;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
}

.timer span {
  position: absolute;
  z-index: 3;
  left: 19px;
}