.c-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__picture {
    background: url("../assets/images/page.png") no-repeat center center;
    background-size: cover;
    min-height: 250px;
  }

  &__body {
    padding: 30px;
  }

  &__text {
    text-align: center;
  }

  @include action-round($action);
}