.c-particle {
  display: flex;
  width: 30%;
  margin: 30px auto 0;

  hr {
    width: 25%;
  }

  &__text {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    font-family: PTSans-serif;
  }
}