$img-height: 150px;
.c-profile {
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__picture {
    background: url("../assets/images/profile-bg.png") no-repeat center center;
    background-size: cover;
    min-height: $img-height;
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-$img-height/2);
  }

  &__stats {
    padding: 30px;
    border-top: 1px solid $light-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {

      h5 {
        text-transform: uppercase;
        margin: 5px;
        text-align: center;
      }

      p {
        margin-top: 0;
        text-align: center;
      }
    }
  }
}