.c-separator {
  display: flex;
  align-items: center;
  @include bp($sm) {
    flex-direction: column;
    padding: 0 50px;
  }

  &__number-part {
    color: $color-number;
    font-size: 90px;
    text-align: center;
    line-height: inherit;
    margin: 5px;
    font-family: PTSans-serif;
    font-weight: 600;
    letter-spacing: 5px;
  }

  &__line {
    width: 50%;
    @include bp($sm) {
      width: 1px;
      height: 100%;
      margin-top: -20%;
      margin-bottom: 40%;
    }
    @include bp($sm) {
      display: none;
    }
  }

  &__name-part {
    font-weight: 500;
    color: $color-title;
    @include bp($sm) {
      transform: rotate(-90deg);
      padding-left: 40%;
    }
    @include bp($sm) {
      padding-left: 10%;
    }
  }
}