.c-shopping {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 30px;

  @include bp($sm) {
    flex-direction: row;
    align-items: flex-start;
  }
}