.c-table-total {
  display: flex;
  justify-content: space-between;

  .c-discount {
    display: flex;
    align-items: center;

    .c-input {
      border: 1px solid $border-color;
      margin-left: 10px;
    }
  }

  .c-delivery-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .c-total-price {
      color: $color-title;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}