.c-table-total {
  display: flex;
  flex-direction: column;

  @include bp($sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  .c-discount {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 15px;
    margin-bottom: 20px;

    @include bp($sm) {
      align-items: center;
      flex-direction: row;
      padding-top: 0;
      margin-bottom: 0;
    }


    .c-input {
      border: 1px solid $border-color;
      margin-left: 10px;
      width: 50%;

      @include bp($sm) {
        width: auto;
      }
    }
  }

  .c-delivery-total {
    display: flex;
    flex-direction: column;

    &__delivery {
      text-align: right;
      margin-bottom: 0;
    }

    .c-total-price {
      color: $color-title;
      font-size: 18px;
      text-transform: uppercase;
      text-align: right;
    }

    .c-button {
      margin: 0 0 0 auto;
    }
  }
}