.c-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {

    img {
      border-radius: 50%;
      border: 1px solid $white;
    }
  }

  &__name {
    color: $color-title;
    padding-left: 5px;
  }

  &--no-desc {
    flex-direction: row;
  }

  &--desc {
    .c-user__name {
      font-size: 20px;
      padding-top: 5px;
    }

    .c-user__level {
      margin: 5px;
    }
  }
}